.DS_Store
# Python
__pycache__/
*.py[cod]
venv/
backend/.venv/

# Node
frontend/node_modules/
frontend/dist/

# Logs and debugging
npm-debug.log*

# Environment files
.env
*.env

# Misc
backend/data/
backend/uploads/
mask.png
mask.png
